<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Confirmation</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-confirm">

   <header class="site-header" style="margin-top: 0px;">
    <div class="logo">SpeakEase</div>
    <nav>
      <a href="/status" >status</a>
      <a href="/home">Home</a>
      <a href="/index" >Feedback</a>
      <a href="/maintenance" class="active" >Maintenance issue</a>
      <a href="/loginpage">Log In</a>  
      
    </nav>
  </header>

  <div class="overlay">
    <div class="card">
      <h2>✅ Feedback Submitted Successfully!</h2>
      <p>Your Feedback ID: <strong>FB123456</strong></p>
      <p>Please save this ID to track your submission.</p>
      <a href="/index" class="btn">Back to Home</a>
    </div>
  </div>
</body>
</html>
